
/* rgb(239, 151, 33) */

/* GENERAL */
body{
    text-align: center;;
}
h1{
    text-align: center;
}
h1, h4{
    color: rgb(239, 151, 33);
}

/* NAV BAR */
nav{
    background-color: black !important;
}
nav ul{
    width: auto !important;
}
nav ul li a, .dropdown-content{
    color: rgb(239, 151, 33) !important;
}
.dropdown-content li:first-child a{
    color: black !important;
}
.dropdown-button{
    font-size: 30px !important;
}
.nav_bar_logo{
    height: 100%;
}
.nav_bar_logo img{
    height:100%;
}
.ennonce{
    text-align: left;
}
/* TEXT INTRO */
.attention{
    border-top: solid 1px rgb(239, 151, 33);
    border-bottom: solid 1px rgb(239, 151, 33);
    margin-top: 50px;
}
.attention p{
    font-size: 19px;
}
.attention img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* BOUTON */
.btn{
    background-color: rgb(239, 151, 33) !important;
}
.button_homepage{
    border-top: solid 1px rgb(239, 151, 33);
    border-bottom: solid 1px rgb(239, 151, 33);
}
.button_homepage a{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ETAPE */
.etapes{
    margin-top: 70px;
}
.etapes h4{
    margin-bottom: 30px;
}
.etapes p{
    margin-bottom: 50px;
}
.etapes .col:nth-child(2){
    border-left: solid 1px rgb(239, 151, 33);
    border-right: solid 1px rgb(239, 151, 33);
}

/* ALGO */
.algo_tab{
    margin-bottom: 50px;
}

/* INTEGRATION */
.wireframe{
    border-top: solid 1px rgb(239, 151, 33);
    margin-top: 50px;
    padding-top: 30px;
}

/* FOOTER */
footer{
    margin-top: 100px !important;
    background-color: black !important;
}
